{%  extends 'main.html' %}
{% load static %}
{% block content %}
<style>
.row2{
	margin-left:450px;
}
</style>
<br>
<div class="row2">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete {{customer.name}}?</p>

			<form action="{% url 'delete_customer' customer.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'customer' customer.id%}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}